/*********************************************
 * CORE NETWORK
 *********************************************/

#core-network-home {
	/*display: block;*/
	/*background: url(../../img/corenetwork-icon.png);*/
	/*background-position: center;*/
	/*background-size: 100%;*/
	position: fixed;
	width: 84px;
	height: 88px;
	z-index: 33;
	right: 25px;
	bottom: 20px;
	cursor: pointer;
}

