<div id="sidebar" class="clearfix">
  <div class="widget sidebar-block widget_text">
    <h3 class="widgettitle">Core Team</h3>
    <ul>
      <li><a href="http://adamapollo.info/">Adam Apollo</a></li>
      <li><a href="http://www.harlantwood.net/">Harlan T Wood</a></li>
      <li><a href="http://jacksenechal.com/">Jack Senechal</a></li>
    </ul>

    <h3 class="widgettitle">Collaborators</h3>
    <ul>
      <li><a href="http://www.dinoklaxia.com/">Gary Garrett</a></li>
      <li><a href="http://www.mccarthyshow.com/">Jim McCarthy</a></li>
      <li><a href="https://twitter.com/#!/wavis">Travis Wellman</a></li>
    </ul>

    <h3 class="widgettitle">Inspirations</h3>
    <ul>
      <li><a href="http://www.visualcv.com/amoration">Evonne Heyning</a></li>
      <li><a href="http://thisisjasonsilva.com/">Jason Silva</a></li>
      <li><a href="http://cyber.law.harvard.edu/people/llessig">Lawrence Lessig</a></li>
      <li><a href="http://www.shilohboss.com/">Shiloh Boss</a></li>
      <li><a href="http://emergentbydesign.com/">Venessa Miemis</a></li>
    </ul>

    <h3 class="widgettitle">Projects</h3>
    <ul>
      <li><a href="http://bettermeans.com/">Bettermeans</a></li>
      <li><a href="http://blog.connect.me/">Connect.me</a></li>
      <li><a href="http://www.factlink.com/">Factlink</a></li>
      <li><a href="http://www.metacurrency.org/">Metacurrency Project</a></li>
      <li><a href="http://opensourceecology.org/">Open Source Ecology</a></li>
      <li><a href="http://shareable.net/">Shareable</a></li>
      <li><a href="http://spacecollective.org/">SpaceCollective</a></li>
      <li><a href="http://thrivable.net/">Thrivable</a></li>
    </ul>

    <h3 class="widgettitle">Resources</h3>
    <ul>
      <li><a href="http://www.holacracy.org/">Holacracy</a></li>
      <li><a href="http://liveingreatness.com/">Live In Greatness: The Core Protocols</a></li>
      <li><a href="http://agilemanifesto.org/">Manifesto for Agile Software Development</a></li>
      <li><a href="http://p2pfoundation.net/">P2P Foundation</a></li>
    </ul>

    <h3 class="widgettitle">Superhero Schools</h3>
    <ul>
      <li><a href="http://clairvision.org/">Clairvision</a></li>
      <li><a href="http://adamapollo.info/workshops/jedi/">Jedi &amp; Guardian Training</a></li>
      <li><a href="https://www.noisebridge.net/wiki/Noisebridge">Noisebridge</a></li>
      <li><a href="http://singularityu.org/">Singularity University</a></li>
      <li><a href="http://unreasonableinstitute.org/">Unreasonable Institute</a></li>
    </ul>

  </div>
</div>
